@import "tailwindcss";

.diagonal-background {
  background: linear-gradient(105deg, #D7D7D7 0%, #D7D7D7 40%, #333 60%, #000 100%);
}

.custom-radial-bg {
  background: radial-gradient(
    circle,
    rgba(26, 21, 21, 0) 0%,
    rgba(0, 0, 0, 0.16) 100%
  );
}